<div class="single-post">
  <div class="post-body">
    <div class="post-intro">
      <strong class="post-title">Post by: <%= @post.author.name %></strong>
      <p>
        Comments: <%= @post.comments_counter %> 
        Likes: <%= @post.likes_counter %>
      </p>
    </div>
    <h3 class="p-title"><%= @post.title %></h3>
    <p class="post-text"><%= @post.body %></p>
  </div>
    <div class="comment-section">
    <div class="engage">
    <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |f| %>
       <%= f.submit "Like", class: "btn btn-primary" %>
    <% end %> 
    <%= link_to "Add Comment", new_user_post_comment_path(user_id: @user.id, post_id: @post.id), class: "btn btn-primary" %>
    </div>
    <% if @post.comments.empty? %>
    <p class="comment-body">No comments yet</p>
  <% else %>
      <% @post.comments.each do |comment| %>
        <p class="comment-body"><%= comment.author.name %>: <%= comment.text %></p>
      <%end%>
      <%end%>
  </div>
</div>
